@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ola Querido Usuario</h1>
    <a class="btn btn-primary" asp-action="Expense">Adicionar Despesa</a>
    <a class="btn btn-warning" asp-action="SeeExpenses">Ver Suas Despesas</a>
</div>
